[5SP,9SP] Implement curl and httplib-based access to Keycloak

- Fill in example data into Keycloak
- Investigate and document which authentication flow(s) should be used
- Make curl-based scripts for user authentication
- Implement httplib equivalent of those scripts

The setup of Keycloak with the [Admin REST API](https://www.keycloak.org/docs-api/22.0.1/rest-api/index.html) is already complete and completely scripted over `curl`, that is easy to use from CI.
The httplib implementation is already complete and working and implements a client that is fully compliant with the authorization code grant as per section 4.1 from [RFC674](https://datatracker.ietf.org/doc/html/rfc6749).

For the above authorization flow a user needs to sign into an external browser and grant access, but it might be also needed to add a userless-flow, as some devices are secured only by the fact that they are located in a secured room. For that the implementation could be extended with section 4.4 of the above RFC.

The last large part remaining to be done is Emscripten support, which might present some difficulties, as section 4.1 requires a port to be opened to exchange the token in the callback from the browser.

The future work of UI integration is covered by https://github.com/fair-acc/opendigitizer/issues/203.